[Unit]
Description=Orkaudio service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
PIDFile=/tmp/orkaudio.pid
ExecStart=/usr/sbin/orkaudio debug

[Install]
WantedBy=multi-user.target
